<!doctype html>
<html lang="{{ site.locale }}">
  <head>
    {% render "head", metadata: site.metadata, title: page.title %}
  </head>
  <body class="{{ resource.data.layout }} {{ resource.data.page_class }}">
    <header>
      <p class='landing'>Sean/Carroll</p>
    </header>

    <main>
      {{ content }}
    </main>

    {% render "footer", metadata: site.metadata %}
  </body>
</html>
