<!doctype html>
<html lang="{{ site.locale }}">
  <head>
    {% render "head", metadata: site.metadata, title: page.title %}
  </head>
  <body class="{{ resource.data.layout }} {{ resource.data.page_class }}">
    <a href='/'>
      <div class='img-container'>
        <img src="/images/maine-coast/high-res/{{ resource.data.imagefile }}" class='hi-res' />
      </div>
    </a>
    {% render "footer", metadata: site.metadata %}
  </body>
</html>
