:root {
  --body-background: white;
  --body-color: #444;
  --heading-color: black;
  --action-color: #d64045;
}

p.landing {
	font-family: Raleway;
	font-weight: 800;
	font-size: 23px;
	margin-left: 1.66%;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
  padding-top: 10px;
	padding-bottom: 20px;
}

footer {
  padding: 20px;
}

body.landing {
  background: var(--body-background);
}

a:link {
  text-decoration: none;
  color: #FF5F1F;
}

* {
  margin: 0;
  padding: 0;
}

img.grid {
  width: 30%;
  float: left;
	margin: 1.66%;
}

@media (max-width: 600px) {
  img.grid {
    width: 96%;
    margin: 2%;
  }
}


/* single image page */

body.photo {
  background: black;
  color: white;
}

.img-container {
  display: grid;
  height: 100%;
  padding: 3%;
}

img.hi-res {
  max-width: 100%;
  max-height: 100vh;
  height: auto;
  align-self: center;
  justify-self: center;
}
