<br/>
<footer>
  <p>
  &nbsp;<br/>
  Contact me at <a href="mailto:{{ metadata.email }}">{{ metadata.email }}</a>
  </p>
  <p>
  All photographs Copyright © 2022 Sean Carroll. Please do not use without permission. <br/>
  </p>
</footer>
